body {
  background-color: #fafafa;
}
.img-grid-wrapper {
  background-image: url("../images/room.png");
  background-size: cover;
  background-position: center;
  outline: 1px solid #fff;
  min-height: 450px;
}
.img-grid-wrapper .column {
  outline: 1px solid #fff;
  width: 20%;
}
.text-column {
    padding: 20px 10px;
    background-color: #f89838;
    height: 100%;
    color: #fff;
}
.hover-content {
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
  height: 100%;
}
.img-grid-wrapper .column:hover + .column .hover-content {
  opacity: 1;
}
.lists{
  list-style: inside;
  padding: 20px 10px;
}
span{
font-size: 25px;
}
